
body {
  padding-top: 40px;
}
.display-right {
  height: 180px;
  background-color: #000000;
  border: 3px solid #282828;
  border-radius: 2%;
  margin: 30px 2% 30px 2%;
  width: 44%;
  float: left;
}
.display-logo img {
  height: 30px;
  width: auto;
  display: inline-block;
}
.display-logo h6 {
  color: #ffffff;
  display: inline-block;
}
.display-logo {
  padding: 4px;
}
.instructions {
  margin-bottom: 40px;
}
.output {
	border: solid 1px #999999;
  overflow: scroll;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 11px;
  text-align: right;
  padding-right: 16px;
  margin: 30px 3% 30px 3%;
  background-color: white;
  height: 180px;
  width: 44%;
  float: left;
}

.input {
  margin-top: 20px;
	font-family: 'Orbitron', sans-serif;
	color: #39ff14;
	background-color: #000000;
  padding: 0px;
  font-size: 23px;
  width: 98%;
  margin: 20px auto 0px auto;
  display: block;
}
.register-outer {
  border: 6px solid rgb(83, 83, 100);
  border-radius: 4%;
  background-color: rgb(75, 75, 90);
  min-height: 260px;
}


@media (max-width: 768px) { 
  .display-right {
    width: 94%;
  }
  .output {
    width: 94%;
  }
  .register-outer {
    height: 500px;
  }
}